
.venv/
venv/
env/

.env
*.env

__pycache__/
*.py[cod]

logs/
*.log

target/
dbt_packages/
logs/
manifest.json
run_results.json
catalog.json
semantic_manifest.json

.user.yml

.idea/


.DS_Store
Thumbs.db

*.pem
*.key
*.crt

*.tmp
*.temp

profiles.yml
**/profiles.yml

.user.yml
**/.user.yml

rick_and_morty/.gitignore

draft
